body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section {
    display: grid;
    grid-template-columns: auto 180px;
    border: solid 1px lightgrey;   
    margin: 10px;
}

div {
    grid-column-start: 1;
    margin: 10px;
}

img {
    grid-column-start: 2;
    margin: 10px;
    border: solid 1px lightgrey;   
}